<ion-content>
  <div class="appointment-background">
    <ion-button [routerLink]="['/home']" fill="clear">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>

    <div class="appointment-type">
      <img src="/assets/icon/health.svg">
      <h4>Seu histórico de saúde</h4>
    </div>
  </div>

  <div class="container">
    <ion-list class="appointments ion-no-padding">
      <ion-item (click)="showModal('pills')" class="appointment-menu" lines="none">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>
          <h2>Meus Medicamentos</h2>
          <h5>Medicamentos cadastrados e comprados</h5>
        </ion-label>
      </ion-item>

      <ion-item (click)="showModal('vaccine')" class="appointment-menu" lines="none">
        <ion-icon slot="start" name="eyedrop"></ion-icon>
        <ion-label>
          <h2>Minhas Vacinas</h2>
          <h5>Carteirinha de vacinação</h5>
        </ion-label>
      </ion-item>

      <ion-item (click)="showModal('check-up')" class="appointment-menu" lines="none">
        <ion-icon slot="start" name="id-card"></ion-icon>
        <ion-label>
          <h2>Meus Exames</h2>
          <h5>Acompanhamento de exames realizados</h5>
        </ion-label>
      </ion-item>

      <ion-item (click)="showModal('professionals')" class="appointment-menu" lines="none">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        <ion-label>
          <h2>Meus Profissionais</h2>
          <h5>Veja sua lista de profissionais já consultado</h5>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
