<ion-content>
  <div class="card-background"></div>
  <div class="user-card ion-padding ion-margin">
    <div class="about-user">
      <ion-avatar>
        <img src="../../../assets/img/avatar.png" />
      </ion-avatar>
      <div class="user-information">
        <ion-label>{{user.displayName}}</ion-label>
        <span>Nº Cartão: <strong>{{user.uid}}</strong></span>

        <ion-button [routerLink]="['/my-profile']" fill="clear">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

  <div class="container">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5.8" button [routerLink]="['/my-appointment']">
          <div class="health">
            <img src="/assets/icon/health.svg">
            <ion-label>Minha Saúde</ion-label>
            <span>Seu histórico de saúde</span>
          </div>
        </ion-col>

        <ion-col size="5.8" button [routerLink]="['/health-services']">
          <div class="health">
            <img src="/assets/icon/marker-hospital.svg">
            <ion-label>Serviços de Saúde</ion-label>
            <span>Localize um próximo a você</span>
          </div>
        </ion-col>

        <ion-col size="5.8" button [routerLink]="['/pills']">
          <div class="health">
            <img src="/assets/icon/pills.svg">
            <ion-label>Medicamentos</ion-label>
            <span>Aqui tem Farmacias Populares</span>
          </div>
        </ion-col>

        <ion-col size="5.8" button [routerLink]="['/medical-appointment']">
          <div class="health">
            <img src="/assets/icon/hospital.svg">
            <ion-label>Marcar uma consulta</ion-label>
            <span>Faça uma consulta com preço popular</span>            
          </div>
        </ion-col>

        <ion-col size="5.8" button [routerLink]="['/sac']">
          <div class="health">
            <img src="/assets/icon/sac.svg">
            <ion-label>Ouvidoria 24hrs</ion-label>
            <span>Entrar em contato</span>
          </div>
        </ion-col>

        <ion-col size="5.8" button [routerLink]="['/my-profile']">
          <div class="health">
            <img src="/assets/icon/id-card.svg">
            <ion-label>Acessar meu Cartão</ion-label>
            <span>Veja suas informações pessoais</span>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- Adicionar tabs com alguns menus -->
</ion-content>
